html, body {
    margin: 0px;
    padding: 0px;
    font-family: Arial;
}
.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4,1fr);
    height: 100vh;
    grid-gap: 5px;

    /* justify-items: start end center stretch; */
    justify-items:  center;
    /* align-items:  start end center stretch; */
    align-items:  center;
}
.item:nth-of-type(5){
    align-self: start;
    justify-self: end;
}
.item{
    background: lightblue;
    padding: 10px;
    border: 1px solid rgb(116, 41, 41);
}